<%- include('partials/head')%>
    <%- include('partials/navbar')%>

    <h1>The Home Page <%= 4+5+1 %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae itaque magni autem commodi. Modi minima maiores velit eligendi id nulla?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores velit reiciendis dignissimos voluptatum et consequuntur earum laudantium suscipit cumque, reprehenderit nobis labore iste quod! Esse rerum libero natus totam labore voluptates consequuntur ducimus veritatis in reprehenderit numquam, inventore impedit sequi delectus quasi. Explicabo dolor incidunt alias eaque quis voluptates minima.</p>

<%- include('partials/footer')%>